# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Secrets - never push this
.env
backend/.env

# ML model (too large for GitHub)
ml/saved_model/

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db